// Place all the styles related to the Entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#new_entry {
	#entry_content {
		height: 200px;
		margin-bottom: 10px;
	}
}

#new_comment {
	float: left;
  width: 90%;
  input {
  	height: 50px !important;
  	padding-left: 10px;
  }
}

.comments {
	.row {
		padding-bottom: 10px;
		.row {
			float: left;
	    width: 90%;
	    padding-left: 15px;
	    strong {
	    	color: #3b5998;
	    }
		}
	}
}

.container {
	.col-md-6 {
		float: none;
		margin: 0 auto;
	}
}

.entry-info {
	.content {
		.title {
			text-align: left;
		}
		.italic {
			font-style: italic;
		}
		.content {
			font-size: 17px;
			margin-top: 20px;
		}
	}
	.commented {
		background-color: rgba(128, 128, 128, 0.08);
		padding-top: 10px;
    margin-bottom: 10px;
	}
	.form {
		background-color: rgba(128, 128, 128, 0.08);
		padding: 10px 0 20px 0;
	}
}