
#alert {
  font-size: 20px;
  border-left: 4px solid orange;
  padding-left: 15px;
  color: #d9534f;
}
#notice {
  font-size: 20px;
  border-left: 4px solid #5cb85c;
  padding-left: 15px;
  color: #3c763d;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

.nav.navbar-right {
  li {
    font-size: 18px;
    &:hover {
      background-color: black;
    }
  }
}